/* Estilos de la sección de la portada */
.hero {
    /*fondo para computadoras*/
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5) )  ,url(../../Convocatorias/Recursos/Fondo_Convocatorias.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 70px 0px 70px;
    margin: 0 auto;
}

.inicio_container {
    max-width: 1200px;
}

.hero h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px black;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    text-shadow: 0px 0px 5px black;
    
}


/*Version MOBILE */
@media (max-width: 950px) {
    .hero {
        /*fondo para celular*/
        background-image: url(../../Convocatorias/Recursos/Fondo_movil_convocatorias.webp);
        padding: 0 25px;
        margin: 0 auto;
        height: 100vh;
    }
    .hero h1 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: bold;
        max-width: 900px;
    }
    .hero p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .btn {
        display: inline-block;
        background-color: #18988bff;
        color: #fff;
        padding: 10px 10px;
        border-radius: 25px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s;
    }
}